 <div class="header">
     <div class="container">
       <h1 class="logo"><a href="{{ site.baseurl }}/">
           <img src="{{ site.baseurl }}/assets/img/logo_grafico.svg" style="width: 1.6em">
           {{ site.title }}
       </a></h1>
         <nav class="nav-collapse">
             <ul class="noList">
                 {% for link in site.navigation %}{% assign current = nil %}{% if page.url contains link.url %}{% assign current = 'current' %}{% endif %}
                 <li class="element {% if forloop.first %}first{% endif %} {{ current }} {% if forloop.last %}last{% endif %}">
                     <a href="{{ link.url | prepend: site.baseurl }}">{{ link.title }}</a>
                 </li> 
                 {% endfor %}
             </ul>
         </nav>

         {% if page.home %}
         <div class="description">
           {{ site.description }}
         </div>
         {% endif %}
     </div>
 </div><!-- end .header -->
